.btn {
  padding: 12px 55px;
  border-radius: 3px;
  background-color: var(--color-secondary-light);
  color: var(--color-primary-light);
  font-family: "Teko", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
