.owl-dots,
.swiper-pagination {
  max-width: max-content;
  background-color: #f6e8d0;
  border-radius: 20px;
}

.owl-dots {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 48px !important;
}

.swiper-pagination {
  padding: 2px 15px;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%);
}

.owl-dot span,
.swiper-pagination-bullet {
  background-color: var(--color-secondary-dark) !important;
  opacity: 0.2;
}

.owl-dot.active span,
.swiper-pagination-bullet-active {
  background-color: var(--color-secondary-light) !important;
  opacity: 1;
}
