.about-section {
  background-color: var(--color-primary-light) !important;
  padding-top: 110px;
  padding-bottom: 80px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 174px;
    padding-bottom: 174px;
  }

  &__container {
    align-items: flex-start;
  }

  &__video {
    margin-left: 30px;
    position: relative;

    @media screen and (min-width: $bp-tablet) {
      margin-left: 56px;
    }
  }

  &__iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $bp-tablet) {
      width: 570px;
    }
  }

  &__info {
    flex-direction: column;
    margin-top: 42px;
  }

  &__info-icon {
    right: 59px;
    top: 28px;
    position: absolute;
  }
}
