.bar-section {
  padding-top: 100px;
  padding-bottom: 80px;

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 126px;
  }

  &--features {
    background-color: var(--color-background-light);
  }

  &--statistics {
    background-color: var(--color-primary-dark);
  }

  &__container {
    &,
    &--statistics {
      display: flex;
      gap: 30px;
      flex-direction: column;
    }

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }

    &--statistics {
      @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
      }
    }
  }

  &__card {
    flex-basis: calc((100% - 90px) / 4);
  }
}
