.contact-section {
  padding-top: 74px;
  padding-bottom: 103px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  &__container {
    align-items: flex-start;
  }

  &__info {
    width: 100%;
    margin-bottom: 0;

    @media screen and (min-width: $bp-desktop) {
      max-width: 370px;
      margin-bottom: 47px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__map,
  &__map-iframe {
    position: relative;
  }

  &__map {
    margin-top: 48px;
    margin-right: 56px;
    flex-grow: 1;
    max-width: 626px;
  }

  &__map-iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    z-index: 1;

    @media screen and (min-width: $bp-tablet) {
      height: 528px;
    }
  }

  &__icon {
    position: absolute;
    top: -96px;
    right: -60px;
    z-index: -1;

    @media screen and (min-width: $bp-tablet) {
      right: -82px;
    }
  }
}
