.faq-section {
  &__accordion,
  &__spoller {
    position: relative;
  }

  &__accordion,
  &__spoller-title {
    display: flex;
  }

  &__accordion {
    gap: 32px;
    flex-direction: column;
    width: 100%;
    max-width: 770px;
  }

  &__spoller {
    border-radius: 3px;
    background-color: var(--color-primary-light);
    box-shadow: 10px 10px 40px 0px rgba(54, 33, 0, 0.1);
    padding: 30px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background: linear-gradient(135deg, #ffebc9 0%, #f5a623 100%);
      border-radius: 3px 0px 0px 3px;
    }
  }

  &__spoller-title {
    justify-content: space-between;
    align-items: center;
    font-family: "Teko", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    cursor: pointer;
  }

  &__spoller-btn {
    transition: transform 0.4s;

    &.rotate {
      transform: rotate(90deg);
    }
  }

  &__text {
    margin-bottom: 0;
    margin-top: 17px;
  }

  &__icon {
    position: absolute;
    top: -30px;
    right: -11px;

    @media screen and (min-width: $bp-desktop) {
      right: -72px;
    }
  }
}
