.header {
  padding-top: 14px;
  padding-bottom: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  transition: background-color 0.3s;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &.scrolled {
    background-color: var(--color-default-text);
  }

  &__container,
  &__buttons {
    display: flex;
    align-items: center;
  }

  &__container {
    gap: 40px;
    justify-content: space-between;
  }

  &__btn-contact {
    text-decoration: none;
    color: var(--color-primary-light);
  }

  &__buttons {
    gap: 16px;
  }

  &__btn-contact {
    background-color: var(--color-secondary-dark);
  }

  &__btn-contact {
    padding: 12px 23px;
    line-height: 1.2;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  &__burger {
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__burger-btn {
    background-color: transparent;
    padding: 0;
    border: none;
  }
}
