.header {
  padding-top: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;

  &__container {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__nav {
    flex-grow: 1;
  }

  &__nav-list {
    display: flex;
    gap: 40px;
  }

  &__nav-link {
    text-decoration: none;
    color: var(--color-primary-light);
  }

  &__buttons,
  &__socials {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 14px;
    background-color: var(--color-secondary-dark);
    border-radius: 50%;

    i {
      width: 16px;
      height: 16px;
      color: var(--color-primary-light);
    }
  }

  &__btn-contact {
    text-decoration: none;
    background-color: var(--color-secondary-dark);
    padding: 12px 23px;
    line-height: 1.2;
    color: var(--color-primary-light);
    font-family: "Teko", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}
