.hero-section {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("../../images/hero-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.5) 50%
      ),
      url("../images/hero-bg@2x.jpg");
  }

  &__container,
  &__button,
  &__button-icon {
    display: flex;
  }

  &__container,
  &__button-icon {
    justify-content: center;
  }

  &__container {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    max-width: 470px;
    position: relative;
    color: var(--color-primary-light);
  }

  &__experience,
  &__title {
    font-family: "Teko", sans-serif;
  }

  &__experience {
    border-radius: 3px;
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 50%
    );
    font-size: 18px;
    font-weight: 300;
    line-height: 1.78;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 2px 8px;
    margin-bottom: 27px;
  }

  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.11;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 46px;
  }

  &__button,
  &__button-icon {
    align-items: center;
  }

  &__button {
    gap: 16px;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.6;
    color: inherit;
  }

  &__button-icon {
    background-color: var(--color-secondary-light);
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 50%;

    i {
      color: var(--color-primary-dark);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: -90px;
  }
}
