.row-section {
  background-color: var(--color-background-light);
  padding-top: 74px;
  padding-bottom: 80px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 144px;
    padding-bottom: 96px;
  }

  .row-slider.owl-carousel .owl-stage-outer {
    box-shadow: 10px 10px 40px 0px rgba(54, 33, 0, 0.1);
  }

  &__container {
    display: flex;
    gap: 65px;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__info {
    max-width: 464px;

    @media screen and (min-width: $bp-desktop) {
      margin-top: 106px;
    }

    &--relative {
      position: relative;
    }

    &--blog {
      max-width: 270px;
    }
  }

  &__slider {
    @media screen and (min-width: $bp-desktop) {
      max-width: 570px;
    }

    &--relative {
      position: relative;
    }

    &--blog {
      max-width: 770px;
    }
  }

  &__icon {
    position: absolute;

    &--slider {
      top: -48px;
      left: -10px;

      @media screen and (min-width: $bp-desktop) {
        left: -72px;
      }
    }

    &--info {
      top: 42px;
      right: 0;
    }
  }
}
