.section {
  &__mark,
  &__title {
    font-family: "Teko", sans-serif;
  }

  &__mark {
    line-height: 1.78;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: linear-gradient(
      0deg,
      rgba(245, 166, 35, 0.2) 50%,
      rgba(245, 166, 35, 0.2) 50%
    );
    padding: 2px 8px;
    border-radius: 3px;
    max-width: max-content;

    &--sided {
      margin-bottom: 38px;
    }

    &--centered {
      margin-bottom: 22px;
    }

    &--dark {
      background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 50%
      );
      color: var(--color-primary-light);
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (min-width: $bp-tablet) {
      font-size: 56px;
      line-height: 1.14;
    }

    &--sided {
      margin-bottom: 25px;
    }

    &--centered {
      margin-bottom: 9px;
      text-align: center;
    }

    &--light {
      color: var(--color-primary-light);
    }
  }

  &__text {
    color: var(--color-default-text);
    margin-bottom: 30px;

    @media screen and (min-width: $bp-desktop) {
      max-width: 470px;
    }

    &--centered {
      text-align: center;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: calc(100% + 54px);
    background: linear-gradient(135deg, #ffebc9 0%, #f5a623 100%);
    border-radius: 3px;
    top: -30px;

    @media screen and (min-width: $bp-tablet) {
      top: -48px;
      height: calc(100% + 96px);
    }

    &--about {
      left: -30px;

      @media screen and (min-width: $bp-tablet) {
        left: -56px;
      }
    }

    &--contact {
      right: -56px;
    }
  }
}
