.team-section {
  .team-carousel.owl-carousel .owl-stage-outer {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  &__container,
  &__carousel {
    position: relative;
  }

  &__icon {
    position: absolute;
    bottom: 60px;
    left: 0;
  }
}
